.classA {
    width: 100%;
    overflow: hidden;
    height: 300px;
}

.classB {
    width: 100%;
    overflow: hidden;
    height: 480px;
}

#yellow-id {
    width: 100px;
    height: 100px;
    background-color: yellow;
}

.blue-class {
    width: 100px;
    height: 100px;
    background-color: blue;
}

.photo-column {
    background-color: sienna;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#photo-gallery {
    background-color: bisque;
    height: 900px;
}

.photo-sm {
    width: 100%;
    height: 380px;
    background-color: rgb(100, 200, 250);
    margin-top: 20px;
    overflow: hidden;
}

.photo-big {
    width: 100%;
    height: 480px;
    background-color: rgb(200, 250, 10);
    margin-top: 20px;
    overflow: hidden;
}

@media (min-width: 575.98px) {
    .photo-col {
        margin-top: 20px;
		width: 100%;
		height: 3600px;
    }
    .video {
        margin-top: 20px;
        width: 100%;
        height: 400px;
    }
}

@media (min-width: 767.98px) {
    .photo-col {
        margin-top: 20px;
		width: 100%;
		height: 1800px;
    }
    .video {
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }
}

@media (min-width: 991.98px) {
    .photo-col {
        margin-top: 20px;
		width: 100%;
		height: 900px;
    }
    .video {
        margin-top: 20px;
        width: 100%;
        height: 800px;
    }
}